.errorMsg{
	color: #D8000C;
}
.ck-editor__editable {
    min-height: 400px !important;
}
:host ::ng-deep .ck-editor__editable {
    min-height: 400px !important;
}
.required:after {
    content:" *";
    color: red;
  }